body {
  color: #494E6B;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 1000px;
}

div {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  border-bottom: 2px solid;
  display: inline-block;
  margin-bottom: 1em;
  padding-bottom: 0.15em;
}

.header {
  background-color: #494E6B;
  color: white;
  height: 150px;
  padding: 20px;
}

.container {
  /*display: flex;*/
  padding: 40px;
}

.column {
  width: calc(50% - 10px);
}

.column-divider {
  flex: 0 0 20px;
}

.icon {
  background: no-repeat center center;
  background-size: contain;
  height: 56px;
  width: 68px;
}

/*Programming languages icons*/

.icon-eiffel {
  background-image: url(icons/prog-langs/eiffel.png);
}

.icon-elixir {
  background-image: url(icons/prog-langs/elixir.png);
}

.icon-elm {
  background-image: url(icons/prog-langs/elm.svg);
}

.icon-haskell {
  background-image: url(icons/prog-langs/haskell.png);
}

.icon-pharo {
  background-image: url(icons/prog-langs/pharo.png);
}

.icon-racket {
  background-image: url(icons/prog-langs/racket.png);
}

.icon-scala {
  background-image: url(icons/prog-langs/scala.svg);
}

.icon-sml {
  background-image: url(icons/prog-langs/sml.jpeg);
}

/*Natural languages icons*/

.icon-br {
  background-image: url(icons/nat-langs/br.svg);
}

.icon-de {
  background-image: url(icons/nat-langs/de.svg);
}

.icon-fr {
  background-image: url(icons/nat-langs/fr.svg);
}

.icon-mx {
  background-image: url(icons/nat-langs/mx.svg);
}

.icon-ru {
  background-image: url(icons/nat-langs/ru.svg);
}

.icon-us {
  background-image: url(icons/nat-langs/us.svg);
}

.nat-langs .icon {
  display: inline-block;
}

.prog-langs {
  text-align: center;
}
