body {
  color: #494E6B;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

a {
  color: #494E6B;
  text-decoration: none;
  transition: all 250ms;
}

a:hover {
  background-color: rgba(192, 201, 255, 0.2);
}

div {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  border-bottom: 2px solid;
  display: inline-block;
  margin-bottom: 1em;
  padding-bottom: 0.15em;
}

.container {
  /*padding: 2px 40px;*/
  /*position: absolute;*/
  /*width: 1000px;*/
}

.col2 {
  display: inline-block;
  margin-right: 8px;
}

.column {
  width: calc(50% - 10px);
}

.column-divider {
  flex: 0 0 20px;
}

.header {
  background-color: #494E6B;
  /*background: linear-gradient(135deg, #494e6b 66%,#98878f 98%);*/
  /*background: linear-gradient(to right, #494e6b 28%,#98878f 98%);*/
  color: rgba(255, 255, 255, 0.7);
  padding: 40px;
}

.section {
  border-bottom: 1px solid rgba(25, 34, 49, 0.7);
}

.section:last-of-type {
  border-bottom: none;
}

/*.section > div {
  display: inline-block;
} */

.summary {
  background-color: #192231;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.contact-information {
  font-size: 18px;
}

.contact-item {
  margin-bottom: 4px;
}

.contact-item > a {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding-right: 5px;
}

.contact-item > a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.lang {
  margin-right: 5px;
  font-size: 11px;
  text-align: center;
}

.nat-langs {
  vertical-align: top;
}

.nat-langs_row {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.nat-langs_title {
  width: 100px;
}

.prog-langs {
  width: 315px;
}

.prog-langs_row {
  margin-bottom: 10px;
}

.tech {
  display: inline-block;
  font-size: 11px;
  margin-right: 2px;
  text-align: center;
  vertical-align: top;
}

.tech-small {
  margin-right: 0;
  width: 40px;
}

.work-exp_row {
  margin-bottom: 10px;
}

.work-exp_title {
  display: inline-block;
}

/*Screenshots*/

.project-overview {
  display: inline-block;
  width: 315px;
}

.project-overview .project-name {
  font-size: 16px;
}

.project-overview .project-description {
  color: #494E6B
}

.project-overview h3 {
  color: #985E6D;
}

.project-overview:hover h3 {
  color: #bb6279;
}

.screenshot {
  background-image: url('images/spritesheet.png');
  height: 190px;
  width: 100%;
}

.threedlife_img {
  background-position: -5px -5px;
  background-size: 297%;
}

.lambda-bricks_img {
  background-position: -2px -1517px;
  background-size: 293%;
}

.git-init_img {
  background-position: -170px -327px;
  background-size: 295%;
}

.icon {
  background-image: url('images/spritesheet.png');
  height: 40px;
  width: 40px;
}

.icon-large {
  height: 73px;
  width: 73px;
}

.flag {
  background-size: 967px;
  height: 45px;
  width: 65px;
}

.icon-br { background-position: -1304px -4px; }
.icon-de { background-position: -1693px -4px; }
.icon-fr { background-position: -337px -125px; }
.icon-mx { background-position: -337px -178px; }
.icon-ru { background-position: -1042px 345px; }
.icon-us { background-position: -228px 344px; }

/* Responsive styles */
@media (max-width: 768px) {

  body { text-align: center; }

  .flag {
    background-size: 1510px;
    height: 66px;
    width: 100px;
  }

  .header_name { margin-bottom: 10px; }

  .nat-langs { margin-top: 15px; }
  .nat-langs_row { width: 315px; justify-content: space-between; }
  .nat-langs_title { text-align: left; }

  .project-overview:not(:first-child) { margin-top: 15px; }

  .section > div { padding: 10px 20px; }

  .work-exp_title { margin-bottom: 3px; }

  .lambda-bricks_img { height: 181px; }
  .git-init_img { height: 164px; }
  .threedlife_img { height: 183px; }

  .icon-br { background-position: -526px -7px; }
  .icon-de { background-position: -1135px -7px; }
  .icon-fr { background-position: -526px -195px; }
  .icon-mx { background-position: -526px -279px; }
  .icon-ru { background-position: -117px 535px; }
  .icon-us { background-position: -357px 535px; }
}

@media (min-width: 768px) {
  .header_information {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .summary {
    margin-right: 17px;
    padding: 5px 32px 0 0;
    vertical-align: top;
    width: 247px;
  }

  .work-exp_title {
    line-height: 40px;
    width: 240px;
  }
}

/*Icons*/

.icon-csharp {
  background-position: -97px -1px;
  background-size: 231px;
}

.icon-css {
  background-position: -140px 0px;
  background-size: 236px;
  padding-left: 1px;
  width: 36px;
}

.icon-eiffel {
  background-position: -509px -79px;
}

.icon-elixir {
  background-position: 284px -61px;
  background-size: 1094px;
}

.icon-elm {
  background-position: -674px -70px;
  background-size: 422px;
}

.icon-git {
  background-position: 3px -652px;
  background-size: 203px;
}

.icon-haskell {
  background-position: -1012px -523px;
  background-size: 400px;
  height: 53px;
  margin: 10px 0;
}

.icon-html {
  background-position: -107px -100px;
  background-size: 205px;
}

.icon-js {
  background-position: -179px 0px;
  background-size: 218px;
}

.icon-mssql {
  background-position: -155px -274px;
  background-size: 205px;
}

.icon-pharo {
  background-position: -290px -129px;
  background-size: 689px;
}

.icon-psql {
  background-position: -70px -120px;
  background-size: 203px;
}

.icon-racket {
  background-position: -1811px -212px;
  background-size: 1183px;
}

.icon-rails {
  background-position: -634px -1041px;
  background-size: 235px;
}

.icon-react {
  background-position: -180px -42px;
  background-size: 230px;
}

.icon-redux {
  background-position: 2px -298px;
  background-size: 500px;
}

.icon-ruby {
  background-position: -721px -1529px;
  background-size: 205px;
}

.icon-scala {
  background-position: -745px -1003px;
  background-size: 400px;
  margin: 0 13px;
  width: 47px;
}

.icon-sml {
  background-position: -1164px -596px;
  background-size: 1010px;
}

.icon-svn {
  width: 164px;
  height: 117px;
  background-position: -5px -828px;
}

.icon-vs {
  background-position: -153px -1205px;
  background-size: 217px;
}
