body {
  color: #494E6B;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 1000px;
}

a {
  color: #985E6D;
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  border-bottom: 2px solid;
  display: inline-block;
  margin-bottom: 1em;
  padding-bottom: 0.15em;
}

.container {
  /*display: flex;*/
  padding: 2px 40px;
}

.col2 {
  display: inline-block;
  margin-right: 8px;
}

.column {
  width: calc(50% - 10px);
}

.column-divider {
  flex: 0 0 20px;
}

.header {
  background-color: #494E6B;
  /*background: linear-gradient(135deg, #494e6b 66%,#98878f 98%);*/
  /*background: linear-gradient(to right, #494e6b 28%,#98878f 98%);*/
  color: rgba(255, 255, 255, 0.7);
  height: 150px;
  padding: 15px 40px;
}

.section {
  border-bottom: 1px solid rgba(25, 34, 49, 0.7);
  padding: 15px 0;
}

.section:last-of-type {
  border-bottom: none;
}

.section > div {
  display: inline-block;
}

.summary {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 17px;
  padding: 5px 40px 0 0;
  vertical-align: top;
  width: 247px;
}

.summary-background {
  background-color: #192231;
  height: 100%;
  left: 0;
  position: absolute;
  top: 150px;
  width: 287px;
  z-index: -1;
}

.contact-information {
  display: inline-block;
  float: right;
  font-size: 18px;
}

.contact-item > a {
  color: rgba(255, 255, 255, 0.7);
}

.header_name {
  display: inline-block;
}

.lang {
  display: inline-block;
  margin-right: 5px;
}

.nat-langs {
  vertical-align: top;
}

.nat-langs_row {
  margin-bottom: 3px;
}

.nat-langs_title {
  display: inline-block;
  margin-top: 11px;
  vertical-align: top;
  width: 100px;
}

.prog-langs {
  width: 315px;
}

.prog-langs_row {
  margin-bottom: 5px;
}

.tech {
  display: inline-block;
  font-size: 11px;
  margin-right: 2px;
  text-align: center;
  vertical-align: top;
}

.tech-small {
  margin-right: 0;
  width: 40px;
}

.work-exp_row {
  margin-bottom: 10px;
}

.work-exp_title {
  display: inline-block;
  line-height: 40px;
  width: 240px;
}

/*Screenshots*/

.screenshot {
  background: no-repeat center center;
  background-size: contain;
  height: 190px;
  width: 315px;
}

.threedlife_img {
  background-image: url(images/3dlife.png);
}

.lambda-bricks_img {
  background-image: url(images/lambdabricks.png);
}

.git-init_img {
  background-image: url(images/git-init.png);
}

/*Icons*/

.icon {
  background: no-repeat center center;
  background-size: contain;
  height: 40px;
  width: 40px;
}

.icon-large {
  height: 54px;
  width: 54px;
}

.flag {
  border: 1px solid #777777;
  box-sizing: content-box;
  height: 45px;
  width: 65px;
}

/*Work experience icons*/

.icon-csharp {
  background-image: url(icons/work-exp/csharp.svg);
}

.icon-css {
  background-image: url(icons/work-exp/css.png);
}

.icon-git {
  background-image: url(icons/work-exp/git.svg);
}

.icon-html {
  background-image: url(icons/work-exp/html.svg);
}

.icon-js {
  background-image: url(icons/work-exp/js.svg);
}

.icon-mssql {
  background-image: url(icons/work-exp/mssql.jpg);
}

.icon-psql {
  background-image: url(icons/work-exp/psql.svg);
}

.icon-rails {
  background-image: url(icons/work-exp/rails.png);
}

.icon-react {
  background-image: url(icons/work-exp/react.svg);
}

.icon-redux {
  background-image: url(icons/work-exp/redux.svg);
}

.icon-ruby {
  background-image: url(icons/work-exp/ruby.svg);
}

.icon-vs {
  background-image: url(icons/work-exp/vs.svg);
}

/*Programming languages icons*/

.icon-eiffel {
  background-image: url(icons/prog-langs/eiffel.png);
}

.icon-elixir {
  background-image: url(icons/prog-langs/elixir.png);
}

.icon-elm {
  background-image: url(icons/prog-langs/elm.svg);
}

.icon-haskell {
  background-image: url(icons/prog-langs/haskell.png);
}

.icon-pharo {
  background-image: url(icons/prog-langs/pharo.png);
}

.icon-racket {
  background-image: url(icons/prog-langs/racket.png);
}

.icon-scala {
  background-image: url(icons/prog-langs/scala.svg);
}

.icon-sml {
  background-image: url(icons/prog-langs/sml.jpeg);
}

/*Natural languages icons*/

.icon-br {
  background-image: url(icons/nat-langs/br.png);
}

.icon-de {
  background-image: url(icons/nat-langs/de.png);
}

.icon-fr {
  background-image: url(icons/nat-langs/fr.png);
}

.icon-mx {
  background-image: url(icons/nat-langs/mx.png);
}

.icon-ru {
  background-image: url(icons/nat-langs/ru.png);
}

.icon-us {
  background-image: url(icons/nat-langs/us.png);
}
